@font-face {
    font-family: "GmarketBold";
    src: url("../src/font/GmarketSansTTFBold.ttf") format("truetype");
}
@font-face {
    font-family: "GmarketMedium";
    src: url("../src/font/GmarketSansTTFMedium.ttf") format("truetype");
}
  
* {
    font-family: "GmarketMedium";
}

body {
    padding-top: 150px;
    background-color: #eff2f8;
}

body::-webkit-scrollbar {
    display: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 45px 60px;
    background-color: white;
    color: #6aca90;
    font-size: 18px;
    /* border-bottom: 1px solid #e0e3fd; */
    z-index: 10;
}
.nav-list {
    display: flex;
    justify-content: right;
}
.list-link {
    margin-left: 70px;
}
.list-link:hover {
    color: black;
    border-bottom: 2px solid black;
}
.btn-code {
    padding: 8px 23px;
    border-radius: 20px;
    background-color: #6aca90;
    border: solid 2px #6aca90;
    color: white;
}
.btn-code:hover {
    background-color: white;
    border: solid 2px #6aca90;
    color: #6aca90;
    transition: 0.2s ease-out;
}
.bar-bg {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #6aca90;
}
.bar-ing {
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #6aca90;
}


.cont-intro {
    margin: 250px 0 350px 0;
    display: flex;
    justify-content: center;
}
.cont-intro img {
    width: 230px;
    margin-right: 40px;
}
.txt-title {
    width: 620px;
    margin-top: 30px;
    font-size: 55px;
    font-family: "GmarketBold";
    color: #6aca90;
    line-height: 58px;
}
.btn-more {
    position: absolute;
    bottom: 36%;
    padding: 8px 27px;
    border-radius: 20px;
    background-color: #6aca90;
    border: solid 2px #6aca90;
    color: white;
    font-size: 18px;
    margin-top: 40px;
}
.btn-more:hover {
    background-color: white;
    border: solid 2px #6aca90;
    color: #6aca90;
    transition: 0.7s ease-out;
}


.section-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 80px 0 140px 0;
    margin: 0 0 140px 0;
}
.section-about h2 {
    margin: 0 auto 100px;
    display: inline-block;
    font-family: "GmarketBold";
    color: #6aca90;
    font-size: 40px;
}
.cont-about {
    display: flex;
    margin: 0 auto;
}

.info-about {
    margin: 0 0 0 60px;
}

.txt-about dt {
    display: inline-block;
    margin-bottom: 17px;
    width: 110px;
    font-size: 22px;
    font-family: "GmarketBold";
    color: #6aca90;
}

.txt-about {
    margin-top: 55px;
}

.txt-about dd {
    display: inline-block;
    font-size: 22px;
}




.section-interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 180px;
}
  
.section-interest h2 {
    margin: 0 auto;
    display: inline-block;
    font-family: "GmarketBold";
    color: #6aca90;
    font-size: 40px;
    margin-bottom: 40px;
}
  
.box-interest {
    margin: 30px auto;
    display: flex;
    padding: 35px;
    width: 1000px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-interest {
    border-radius: 15px;
    width: 452px;
    margin-bottom: 25px;
}
  
.btn-detail {
    cursor: pointer;
    padding: 10px 172px;
    border-radius: 15px;
    border: none;
    background-color: #6aca90;
    border: solid 2px #6aca90;
    color: white;
    font-size: 20px;
}

.btn-detail2 {
    cursor: pointer;
    padding: 10px 236px;
    border-radius: 15px;
    border: none;
    background-color: #6aca90;
    border: solid 2px #6aca90;
    color: white;
    font-size: 20px;
}

.btn-detail:hover {
    background-color: white;
    border: solid 2px #6aca90;
    color: #6aca90;
}

.btn-detail2:hover {
    background-color: white;
    border: solid 2px #6aca90;
    color: #6aca90;
}

.txt-interest {
    text-align: left;
    margin: 25px 0 0 40px;
}

.txt-interest h3 {
    font-family: "GmarketBold";
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 30px;
}

.txt-interest dl dt {
    font-family: "GmarketBold";
    color: #6aca90;
    font-size: 22px;
    margin-bottom: 6px;
}

.txt-interest dl dd {
    font-size: 20px;
    margin-bottom: 25px;
}



#footer {
    text-align: center;
}

#footer h2 {
    font-family: "GmarketBold";
    color: #6aca90;
    font-size: 40px;
    margin-bottom: 50px;
}

.box-footer {
    width: 100%;
    background-color: white;
    padding: 80px 0 70px 0;
}

.link-sns ul {
    display: inline-block;
    margin: 30px auto;
}

.link-sns li {
    display: inline-block;
    padding: 35px;
    font-size: 12px;
}

.link-sns li a img {
    margin-bottom: 10px;
}

.img-github,
.img-instagram {
    width: 65px;
}

.box-footer p {
    color: #6aca90;
    margin-top: 50px;
}
  